
<h3>Add a User</h3>

<div class="form-container">

<form class="formclass">
<fieldset>
	<legend>User</legend>

	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" class="form-control" />
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" class="form-control" />
	</div>

	<div class="form-group">
		<label for="phone">Phone</label>
		<input type="phone" id="phone" name="phone" class="form-control" />
	</div>

</fieldset>

<fieldset>
	<legend>Address</legend>

	<div class="form-group">
		<label for="street">Street</label>
		<input type="text" id="street" name="street" class="form-control" />
	</div>

	<div class="form-group">
		<label for="city">City</label>
		<input type="text" id="city" name="city" class="form-control" />
	</div>

	<div class="form-group">
		<label for="suite">Suite</label>
		<input type="text" id="suite" name="suite" class="form-control" />
	</div>

	<div class="form-group">
		<label for="zipcode">Zipcode</label>
		<input type="text" id="zipcode" name="zipcode" class="form-control" />
	</div>

</fieldset>
	
	<div class="form-group">
		<input type="submit" class="btn btn-primary" />
	</div>
	
</form>

</div>